// Change bgColor in RxJS
// http://codepen.io/arecvlohe/pen/yaypQv

const { Observable } = Rx

const div = document.createElement('div')
div.style.width = '100vw'
div.style.height = '100vh'
document.body.appendChild(div)

// Create an observable from mouse move events
const moves = Observable.fromEvent(div, 'mousemove')

// Use the map operator to transform the event object
const transform = moves.map(x =>
  ({ x: x.clientX, y: x.clientY })
)

// Subscribe to the transformed Observable
transform.subscribe(
  obj => { div.style.backgroundColor =
    `rgb(${obj.x}, ${obj.y}, 100)`
  },
  err => { console.log(err) },
  () => { console.log('complete') }
)
